# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
.env

# Node / Next
node_modules/
.next/
out/
npm-debug.log*
.DS_Store

# Alembic local
*.sqlite3

# TS build cache
*.tsbuildinfo

# Next env types (генерируется)
next-env.d.ts

# Local env
.env.local
